* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #444;
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-style: italic;
    color: #1059ad;
}

.main-header {
    background-color: #e5e5e5;
    padding: 20px 40px;
    margin-bottom: 40px;
    height: 80px;

}

article {
    margin-bottom: 64px;
}

.post-header {
    margin-bottom: 32px;
}

aside {
    background-color: #e5e5e5;
    border-top: 5px solid #1059ad;
    border-bottom: 5px solid #1059ad;
    padding: 40px 0;
    width: 500px;
}

h1, h2, h3 {
    color: #1059ad;
}

h2 {
    font-size: 56px;
    margin-bottom: 32px;
}

h3 {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 16px;
}

ul, ol {
    margin-left: 40px;
    margin-bottom: 20px;
}

li {
    font-size: 16px;
    margin-bottom: 10px;
}

li:first-child {
    font-weight: bold;
}

li:last-child {
    margin-bottom: 0;
    font-style: italic;
}

/* li:nth-child(even) { 
    color: red;
} */
/*"odd" for inpairs, "even" for pairs */

/* footer p {
    font-size: 12px;
} */

/* article header p {
    font-style: italic;
} */

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 12px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

/* ul {
    list-style: none;
} */

.posts-decorations {
    list-style: none;
}



/* body {
    background-color: #caddff;
} */

/* .first-li {
    font-weight: bold;
} */



/* misconception: this won´t work! */
article p:first-child {
    color: red;
}

/* styling links */
/* LVHA */
a:link {
    color: #1059ad;
    text-decoration: none;
}

a:visited {
    color: #1059ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline dotted blue;
}

a:active {
    color: green;
    background-color: black;
    font-style: italic;
}


/* Resolving conflicts */

#copyright {
    color: red;
}

.copyright {
    color: blue;
}

.text {
    color: yellow;
}

/* footer p {
    color: green !important;
} */

.post-image {
    width: 100%;
    height: auto;
}